h1 {
  font-size: 24px;
  align-content: center;
}
.done {
  border-left: 6px solid green;
  background-color: lightgrey;
}

.not-done {
  border-left: 6px solid red;
  background-color: lightgrey;
}

html {
  background-image: url("./../../images/background.jpg");
  background-size: cover;
}
